
html,body {
   margin: unset;
   padding: unset;
   background: var(--background-primary);
}

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400');

/*
    Desktop
*/
#root {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 100%;
    gap: 2em;
    /* padding: 0 2% 0 2%; */
    background: var(--background-primary);
    overflow: hidden;
    width: 100%;
    height: auto;
    font-family: 'PT Sans', sans-serif !important;

}

._header_container {
    display: flex;
    justify-content: space-between;
    width: 96%;
    gap: 2px;
    height: 3em;
    padding: 2%;
    overflow: visible;
    background: var(--color-primary);
}

._header_container div._container_profile {
    display: grid;
    place-content: center;
    height: -webkit-fill-available;
    margin-right: 2em;
}

._header_container div._container_profile img {
    width: 100%;
    height: 4em;
    object-fit: contain;
}

._container_singIn ,
._container_form {
    place-self: center;
    width: 90%;
    max-width: 30em;
    height: auto;
    border-radius: 30px;
    overflow: hidden;
}

._container_singIn form ,
._container_form form {
    display: grid;
    padding: 0em 3em 2em 3em;
    height: auto;
    min-height: 25em;
    width: calc(100% - 6em);
    background: var(--color-background-secundary);
    border-radius: 30px;
    box-shadow:  20px 20px 60px #333333;
}

._container_singIn form h2 ,
._container_form form h2 {
    place-self: center;
    /* font-family: var(--typografy-secundary); */
    color: var(--color-black);
    text-transform: uppercase;
    font-style: normal;
    font-weight: 600;
    font-size: 2em;
}

._container_singIn form div._container_inputs div label,
._container_form form label {
    /* font-family: var(--typografy-secundary); */
    color: var(--color-black);
    text-transform: uppercase;
    font-style: normal;
    font-weight: 600;
    font-size: 2em;
}


._container_singIn form div._container_inputs div input,
._container_form form input[type="email"] ,
._container_form form input[type="password"] {
    box-sizing: border-box;
    border: 3px solid var(--color-black);
    border-radius: 30px;
    height: 3em;
    margin-top: 0.7em;
    padding-left: 1em;
}

._container_form form input[type="email"]::placeholder ,
._container_form form input[type="password"]::placeholder {
    color: var(--color-black);
    text-transform: uppercase;
    font-style: normal;
    font-weight: 600;
    font-size: 1.3em;
    text-align: center;
}

._container_form form label._label {
      padding-top: 0.7em;
}

._container_singIn form div._container_a a,
._container_form form div._container_a a {
    color: var(--color-black);
    text-transform: uppercase;
    font-style: normal;
    font-weight: 600;
    font-size: 1.3em;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
}

._container_form form div._container_a {
    display: grid;
    place-items: center;
    width: 100%;
}

._container_singIn form div._container_a button[type="submit"],
._container_form form button[type="submit"] {
   justify-self: center;
   width: 70%;
   margin-top: 1em;
   border-radius: 30px;
   background: var(--color-secundary-black);
   color: var(--color-white);
   border: unset;
   text-transform: uppercase;
   font-weight: 600;
   font-size: 2em;
   height: 2em;
   cursor: pointer;
}

._container_singIn {
    max-width: 50em;
}


._container_singIn form h2 {
    color: var(--color-black);
}

._container_singIn form div._container_inputs {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 50% 50%;
    gap: 1em;
}

._container_singIn form div._container_inputs div {
    display: grid;
}

._container_singIn form div._container_inputs div input {
    width: 90%;
}

._container_singIn form div._container_a {
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 1em 0 1em;
}


._container_singIn form div._container_a a {
    font-size: 1em;
    height: 1em;
}

._container_singIn form div._container_a button[type="submit"]  {
    width: 30%;
    height: 2.6em;
    font-size: 1.5em;
    cursor: pointer;

}


._container_profile {
    position: relative;
}

._container_profile a img {
    object-fit: cover;
}


._container_profile a  {
    cursor: pointer;
}

._container_primary_profile {
    position: relative;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 10% 90%;
    gap: 1em;
    width: calc(100% - 2em);
    height: calc(100vh - 4em);
    overflow: hidden;
}

._container_primary_profile 
._arrow_left_back {
    position: absolute;
    top: 1em;
    left: 7em;
    z-index: 99;
}

._container_primary_profile 
._text_left_back {
    position: absolute;
    bottom: 6em;
    right: 4em;
    z-index: 99;
    color: var(--color-black);
}

._container_primary_profile 
._arrow_left_back a {
    cursor: pointer;
}

._container_navegator {
    height: 100%;
    width: calc(100% - 2em);
    max-width: 4.3em;
    padding: 0.5em;
    background: var(--background-nav);
    padding-top: 1.4em;
}

body,html div#root.remove_gap {
    gap: unset;
}

._container_navegator div._item_navegator {
    display: grid;
    place-content: center;
    position: relative;
    width: 100%;
    height: 4em;
    margin-top: 1.5em;
}

._container_navegator div._item_navegator a {
    cursor: pointer;
} 

._container_navegator 
div._item_navegator 
div._text_hover_ {
    display: none;
}

._container_navegator 
div._item_navegator:hover 
div._text_hover_ {
    display: grid;
    justify-content: start;
    align-content: center;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(90%,-70%);
    background-color: var(--color-primary);
    width: 7em;
    height: 2em;
    border-radius: 10px;
    border-style: solid;
    border-width: 0 0 15px 15px;
    border-bottom-left-radius: 2px;
    border-color: transparent transparent #4a4d4a transparent;
}

._container_navegator 
div._item_navegator:hover 
div._text_hover_ p {
    width: -webkit-fill-available;
    color: var(--color-white);
    font-size: 1.4em;
}

._container_navegator div._item_navegator a img {
    width: 3.6em;
} 

._conatiner_info-profile {
    margin-top: 4em;
    display: flex;
}

._conatiner_info-profile div._container_photo_profile {
    display: grid;
    place-items: center;
    width: 20em;
    height: 15em;
    border: 3px solid var(--color-black);
    margin-right: 2em;
}

._conatiner_info-profile div._container_photo_profile img {
    width: 80%;
    height: inherit;
    max-height: 80%;
    object-fit: cover;
}

._conatiner_info-profile div._conatiner_info_data {
    padding: 1em;
    width: -webkit-fill-available;
}


._conatiner_info-profile 
div._conatiner_info_data div._item_info {
    display: grid;
    line-height: 12px;
}

._conatiner_info-profile 
div._conatiner_info_data {
    position: relative;
}

._conatiner_info-profile 
div._conatiner_info_data a._edit_action{
    position: absolute;
    right: 4em;
    top: 0;
    display: grid;
    place-content: center;
    width: 20%;
    border-radius: 30px;
    background: var(--color-secundary-black);
    color: var(--color-white);
    border: unset;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.5em;
    height: 2.5em;
    width: 4.7em;
    cursor: pointer;
}

._conatiner_info-profile 
div._conatiner_info_data div._item_info h2 ,
._conatiner_info-profile 
div._conatiner_info_data div._item_info span {
    font-size: 1.5em;
    font-weight: 750;
    color: var(--color-black);
    font-style: normal;
    text-transform: uppercase;
}

._conatiner_info-profile 
div._conatiner_info_data div._item_info h2 {
    font-size: 1.5em;
    font-weight: 500;
    text-transform: capitalize;
}

._conatiner_info-profile 
div._conatiner_info_data div._item_info h1 {
    font-size: 1.5em;
    font-weight: 500;
    text-transform: lowercase;
}

._conatiner_info-profile 
div._conatiner_info_data div._container_progress {
    margin-top: 2em;
}


._conatiner_info-profile 
div._conatiner_info_data 
div._container_progress 
div._container_progress_item  {
    display: flex;
    align-items: center;
    gap: 1em;
}

._conatiner_info-profile 
div._conatiner_info_data 
div._container_progress 
div._container_progress_item span:first-child {
    font-size: 1.5em;
    font-weight: 750;
    color: var(--color-black);
    font-style: normal;
    text-transform: uppercase;
    width: 6em;
    overflow: hidden;
}


._conatiner_info-profile 
div._conatiner_info_data 
div._container_progress 
div._container_progress_item:first-child span {
    margin-bottom: 10px;
}


._container_progress_item._container_lection 
span._progress_,
._conatiner_info-profile 
div._conatiner_info_data 
div._container_progress 
div._container_progress_item span._progress_ {
    margin-top: 13px;
    width: 18em;
    height: 2em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    border: 2px solid navajowhite;
    border-radius: 30px;
}

._container_progress_item._container_lection 
span._progress_ {
    margin-top: unset;
    width: 17em;
}

._container_progress_item._container_lection {
    display: flex;
    width: 80%;
    height: 2em;
    justify-items: center;
    align-items: center;
    margin-top: 1.5em;
    max-width: 80%;
}

._container_progress_item._container_lection
._porcentaje {
    display: flex;
    justify-content: center;
    align-items: center;
}

._container_section {
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
}

._container_section .section__content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: -webkit-fill-available;
    flex-wrap: wrap;
    padding: 1em;
    gap: 3em;
}

._container_section .section__content
._container_history_section {
    display: grid;
    place-content: center;
    grid-template-rows: 80% 20%;
    cursor: pointer;
    width: 15em;
    height: 15em;
    border: 3px solid var(--color-black);
    border-radius: 90px;
}

._container_section .section__content
._container_history_section  img {
    align-self: center;
    width: 100%;
    height: inherit;
    max-height: 70%;
    object-fit: cover;
}

._container_section .section__content
._container_history_section p {
    align-self: center;
    font-size: 1.5em;
    font-weight: 700;
    color: var(--color-black);
    font-style: normal;
    text-transform: uppercase;
    text-align: center;
}

._container_section h2 {
    place-self: center;
    font-style: normal;
    font-weight: 700;
    font-size: 4em;
    color: var(--color-black);
    text-transform: uppercase;
    max-height: 4em;
    margin-block-end: 0.3em;
}

.canvas_3d {
    width: 100%;
    height: 25em;
}


._container_options {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 110%;
    right: calc(-50% - 1em);
    width: 50%;
    height: auto;
    min-width: 10em;
    background: var(--background-nav);
    border-radius: 2px;
    z-index: 222;
    box-shadow: 0px 0px 10px 0px rgba(192, 157, 60, 0.75);
}

._container_options a {
    display: grid;
    place-content: center;
    padding: 1em;
    font-size: 1em;
    font-weight: 400;
    color: var(--color-black);
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
}

._popup_3d_ {
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 222;
    background: var(--background-popup);
    overflow: hidden;
}


._popup_3d_  ._container_popup_3d {
    position: relative;
    width: 70%;
    max-width: 700px;
    max-height: 400px;
    height: calc(100% - 2em);
    padding: 2em;
    background: var(--background-primary);
    border-radius: 8px;
    overflow-y: auto;
    overflow-x: hidden;
}

._popup_3d_  
._container_popup_3d._container_quiz {
    max-height: 350px;
    max-width: 700px;
}

._close_next_,
._popup_3d_  
._container_popup_3d 
._close_popup_ { 
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    font-size: 1.3em;
    color: var(--color-black);
    cursor: pointer;
}

._close_next_ {
    top: unset;
    bottom: 0.5em;
}

._close_next_ ,
._popup_3d_  
._container_popup_3d 
._close_popup_ img { 
    object-fit: scale-down;
    width: 1.6em;
    height: 1.6em;
}

._close_next_ img {
    width: 2.3em;
    height: 2.3em;
} 

._container_close_quiz {
    display: grid;
    place-content: center;
    width: -webkit-fill-available;
}

._popup_3d_  
._container_popup_3d._container_close_quiz._container_close_quiz {
    height: 200px;
    width: 300px;
} 

.container_btns_quiz {
    display: flex;
    gap: 1.4em;
}

.container_btns_quiz button {
    width: 4em;
    height: 2em;
    background: var(--color-secundary-black);
    border: var(--color-secundary-black) 1px solid;
    border-radius: 2px;
    color: var(--color-white);
    cursor: pointer;
}

._popup_3d_  
._container_popup_3d._container_result_quiz {
    height: 200px;
    width: 300px
}

._container_result_quiz
.container_btns_quiz button {
    display: grid;
    place-content: center;
    width: auto;
    height: 2em;
    padding: 1em;
    background: var(--color-secundary-black);
    border: var(--color-secundary-black) 1px solid;
    border-radius: 2px;
    color: var(--color-white);
    cursor: pointer;
}

._container_result_quiz p {
    text-align: center;
}

._container_result_quiz h1 {
    text-align: center;
    font-size: 1.5em;
    font-weight: 700;
    color: var(--color-black);
    font-style: normal;
    text-transform: uppercase;
}


._text_right_arrow {
    position: absolute;
    bottom: 50%;
    right: 15em;
    z-index: 99;
    color: var(--color-black);
    cursor: pointer;
}

._container_old_password {
    display: grid;
    place-content: center;
    width: -webkit-fill-available;
    height: auto;
    min-height: 70vh;
    overflow: hidden;
}

._container_old_password
form.email_p {
    display: grid;
    place-items: center;
    gap: 1em;
    padding: 0.8em 3em 2em 3em;
    height: auto;
    min-height: 12em;
    width: calc(23em - 6em);
    background: var(--color-background-secundary);
    border-radius: 30px;
    box-shadow: 10px 7px 10px #333333;
}

._container_old_password
form.email_p label {
    color: var(--color-black);
    text-transform: uppercase;
    font-style: normal;
    font-weight: 600;
    font-size: 1.7em;
    text-align: center;
}

._container_old_password
form.email_p
button[type="submit"] {
    justify-self: center;
    width: 90%;
    margin-top: 1em;
    border-radius: 30px;
    background: var(--color-secundary-black);
    color: var(--color-white);
    border: unset;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.3em;
    height: 2em;
    cursor: pointer;
}

._container_old_password
form.email_p input[type="email"],
._container_old_password
form.email_p input[type="text"] {
    box-sizing: border-box;
    border: 3px solid var(--color-black);
    border-radius: 30px;
    height: 3em;
    width: 100%;
    margin-top: 0.7em;
    padding-left: 1em;
}

._container_old_password
form.email_p 
input[type="email"]::placeholder  {
    color: var(--color-black);
    text-transform: uppercase;
    font-style: normal;
    font-weight: 500;
    font-size: 0.8em;
    text-align: left;
}

.disabled_ {
    background: #e1e1e1 !important;
}

._container_old_password
form.email_p.changePasword label {
    font-size: 1.4em;
}


._container_old_password
form.email_p.changePasword 
button[type="submit"] {
    width: 100%;
    font-size: 1.2em;
}


._container_black {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #00000075;
    z-index: 999;
    overflow: hidden;
}

._container_old_password._aux_editar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    overflow: hidden;
}

._container_old_password._aux_editar 
form.email_p label {
    text-align: left;
}

/*
 * Scrollbar General
*/
::-webkit-scrollbar {
    display: initial;
    width: auto;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}



/*
   Variables
*/
:root {
    --color-primary: #ECA814;  
    --background-primary: #F5EFD7;
    --color-background-secundary: #FFF9E3;
    --typografy-secundary: 'PT Sans', sans-serif !important;
    --color-black: #000000;
    --color-secundary-black: #333333;
    --color-white: #FFFFFF;
    --background-nav: #FDDA8C;
    --background-popup: #3535347e;
}


  